.form-part {
    display: inline-flex;
}

.form-part div {
    margin-top: 10px;
    margin-bottom: 15px;
}

.form-part-left {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
}

.form-part-center {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
}

.paging-button {
    text-align: center;
    margin-top: 10px;
}

#prev-page:disabled {
    background-color: #EEE;
}

#next-page:disabled {
    background-color: #EEE;
}